body{
    background: #cac8c8;
    font-family: 'Kumbh Sans', sans-serif;
   
}
section{
    width: 70%;
    height: 85vh;
    padding: 30px;
    margin: 5% 10%;
    justify-content: center;
    border-radius: 3px;
    background: #fff;
    font-size: 12px;
    font-weight: 400;
    box-shadow: inset 0 -1em 3em rgba(0, 0, 0, 0.1), 0 0 0 0 rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.nav{
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#logo{
   width: 6rem;
   height: 14px;
   padding-left: 40px ;
   padding-bottom: 19px; 
}
hr{
    opacity: 0.3;
    margin: 0px 40px;
}
ul{
    width: 50%;
    display: flex;
    list-style: none;   
    gap: 20px;
    font-size: 12px;
    
}
li{
    opacity: .7;
    cursor: pointer;
    padding-top: 20px;
}
li:hover{
    text-decoration: 2px solid underline purple;
}
.nav-image{
    display: flex;
    justify-content: flex-end; 
    width: 6vw;
    height: 8vh;
    margin-left: 280px ;
    padding-bottom: 20px;

}
.nav-image img{
    display: flex;
    padding: 12px;
    cursor: pointer;
}
.nav-image:hover{
    text-decoration: 2px solid underline purple;
}
.container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.div-image{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
}
#list{
    display: flex;
    flex-direction: row;
    margin-left: -310px;
}
#list-img{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    width: 5em;
    height: 5em;
    border-radius: 8px; 
    margin-top: 380px; 
    margin-right: 24px;
}
#preview{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    max-height: 50vh;
    border-radius: 20px;
    
}
.details{
    width: 50%;
}
h4{
    color: hsl(26, 100%, 55%) ;
    font-size: 8px;
    font-family: 'Kumbh Sans', sans-serif;
    padding-top: 100px;
}
h1{
    font-weight: 700 ;
    font-family: 'Kumbh Sans', sans-serif;
}
.details p{
    opacity: 0.7;
    font-size: 12x ;
}
#quantity{
    width: 80px;
    height: 20px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    margin-left: -15px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}
#price{
    font-weight: 700;
    font-size: 16px;
}
#crossed{
    text-decoration: line-through;
    opacity: 0.7;
    font-size: 10px;
    color: gray;
}
#per{
    width: 30px;
    color: hsl(26, 100%, 55%);
    background-color: rgb(253, 237, 231);
    border-radius: 2px;
    font-weight: 700;
    margin-left: 10px;
}

#q1{
    color:hsl(26, 100%, 55%) ;
    padding: 0 20px;
}
button{
    width: 160px;
    height: 30px;
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;
}
.qb{
    display: flex;
    gap: 10px;
    margin-top: 20px ;
}
#btn-img{
    width: 15px;
    height: 15px;
    color: #fff;
    padding-right: 10px;

}